Repository jsell-rh/kartograph: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, tsc

.pre-commit-config.yaml:

# Pre-commit hooks for Kartograph
# Install: pip install pre-commit
# Setup: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
      - id: check-yaml
        args: ["--unsafe"] # Allow custom YAML tags (for Kubernetes)
      - id: check-json
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
      - id: detect-private-key

  # Python formatting and linting
  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black
        language_version: python3
        files: '^extraction/.*\.py$'

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args:
          [
            "--baseline",
            ".secrets.baseline",
            "--exclude-files",
            'package-lock\.json',
          ]
        exclude: '\.secrets\.baseline'

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args: ["--fix", "--config", ".markdownlint.json"]
        exclude: '^app/(\.nuxt|\.output|node_modules)/.*'

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args:
          [
            "-d",
            "{extends: default, rules: {line-length: {max: 120}, document-start: disable}}",
          ]
        exclude: '^app/(\.nuxt|\.output|node_modules)/.*'

  # TypeScript/JavaScript formatting and linting (local hooks using project dependencies)
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: bash -c 'cd app && npx prettier --write --ignore-unknown'
        language: system
        files: '^app/.*\.(ts|vue|js|json|yaml|yml|md)$'
        exclude: '^app/(\.nuxt|\.output|node_modules|dist)/.*'
        pass_filenames: true

      - id: tsc
        name: TypeScript type check
        entry: bash -c 'cd app && npx tsc --noEmit'
        language: system
        files: '^app/.*\.(ts|vue)$'
        exclude: '^app/(\.nuxt|\.output|node_modules|dist)/.*'
        pass_filenames: false

feat: capture tool input/result in frontend (#21)
  app/pages/index.vue
Due: prettier, tsc

feat: add verbose tool call display with collapsible sections (#21)
  app/components/ThinkingViewer.vue
  app/components/ToolCallDisplay.vue
Due: prettier, tsc

fix: improve code display readability (#21)
  app/components/ToolCallDisplay.vue
Due: prettier, tsc

feat: Add verbose tool call display (#22)
  app/components/ThinkingViewer.vue
  app/components/ToolCallDisplay.vue
  app/package-lock.json
  app/package.json
  app/pages/index.vue
  app/server/orchestrator/QueryAgent.ts
Due: prettier, tsc

feat: Migrate from ClowdApp to Kustomize for Kubernetes deployments (#23)
  .gitignore
  .secrets.baseline
  app/Makefile
  app/deploy/README.md
  app/deploy/base/app-deployment.yaml
  app/deploy/base/app-service.yaml
  app/deploy/base/configmap.yaml
  app/deploy/base/dgraph-alpha-deployment.yaml
  app/deploy/base/dgraph-services.yaml
  app/deploy/base/dgraph-zero-deployment.yaml
  app/deploy/base/kustomization.yaml
  app/deploy/base/pvcs.yaml
  app/deploy/clowdapp.yaml
  app/deploy/dgraph-standalone.yaml
  app/deploy/overlays/ephemeral/.gitkeep
  app/deploy/overlays/ephemeral/kustomization.yaml
  app/deploy/overlays/ephemeral/route.yaml
  app/deploy/overlays/stage/configmap-patch.yaml
  app/deploy/overlays/stage/kustomization.yaml
  app/deploy/overlays/stage/resources-patch.yaml
  app/deploy/overlays/stage/route.yaml
  app/deploy/scripts/create-ephemeral-secrets.sh
  app/deploy/scripts/generate-ephemeral-patch.sh
Due: prettier

fix: Use external registry route for local image push
  app/Makefile
Due: none

fix: Create placeholder patch file for first deployment
  app/Makefile
Due: none

fix: Handle migration from ClowdApp deployment
  app/Makefile
Due: none

fix: Ignore ephemeral kustomization.yaml (modified at runtime)
  .gitignore
  app/Makefile
  app/deploy/overlays/ephemeral/kustomization.yaml
Due: prettier

fix: Create kustomization template for ephemeral overlay
  app/Makefile
  app/deploy/overlays/ephemeral/kustomization.yaml.template
Due: none

fix: Remove PLACEHOLDER host from route definition
  app/deploy/overlays/ephemeral/route.yaml
Due: prettier

fix: Apply kustomize overlay once instead of base+overlay
  app/Makefile
  app/deploy/scripts/generate-ephemeral-patch.sh
Due: none

feat: Add Vault-integrated secrets for stage deployment
  app/deploy/base/app-deployment.yaml
  app/deploy/base/configmap.yaml
  app/deploy/overlays/stage/configmap-patch.yaml
  app/deploy/overlays/stage/kustomization.yaml
  app/deploy/overlays/stage/secrets.yaml
  app/deploy/scripts/create-ephemeral-secrets.sh
Due: prettier

feat: Support multiple GitHub email addresses for domain validation
  app/server/lib/auth.ts
Due: prettier, tsc

feat: Support multiple GitHub email addresses for domain validation (#26)
  app/server/lib/auth.ts
Due: prettier, tsc

feat: Use vault csi driver for secrets management
  .secrets.baseline
  app/deploy/README.md
  app/deploy/overlays/stage/deployment-vault-volumes-patch.yaml
  app/deploy/overlays/stage/kustomization.yaml
  app/deploy/overlays/stage/secret-provider-class.yaml
  app/deploy/overlays/stage/secrets.yaml
  argocd-application.yaml
Due: prettier

feat: Add automated image tagging for stage deployments
  .github/workflows/build.yml
  .github/workflows/release.yml
  app/Makefile
Due: none

fix: Correct YAML syntax for version-sha Docker tag
  .github/workflows/build.yml
Due: none
