Repository jsell-rh/kartograph: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, tsc

.pre-commit-config.yaml:

# Pre-commit hooks for Kartograph
# Install: pip install pre-commit
# Setup: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
      - id: check-yaml
        args: ["--unsafe"] # Allow custom YAML tags (for Kubernetes)
      - id: check-json
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
      - id: detect-private-key

  # Python formatting and linting
  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black
        language_version: python3
        files: '^extraction/.*\.py$'

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args:
          [
            "--baseline",
            ".secrets.baseline",
            "--exclude-files",
            'package-lock\.json',
          ]
        exclude: '\.secrets\.baseline'

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args: ["--fix", "--config", ".markdownlint.json"]
        exclude: '^app/(\.nuxt|\.output|node_modules)/.*'

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args:
          [
            "-d",
            "{extends: default, rules: {line-length: {max: 120}, document-start: disable}}",
          ]
        exclude: '^app/(\.nuxt|\.output|node_modules)/.*'

  # TypeScript/JavaScript formatting and linting (local hooks using project dependencies)
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: bash -c 'cd app && npx prettier --write --ignore-unknown'
        language: system
        files: '^app/.*\.(ts|vue|js|json|yaml|yml|md)$'
        exclude: '^app/(\.nuxt|\.output|node_modules|dist)/.*'
        pass_filenames: true

      - id: tsc
        name: TypeScript type check
        entry: bash -c 'cd app && npx tsc --noEmit'
        language: system
        files: '^app/.*\.(ts|vue)$'
        exclude: '^app/(\.nuxt|\.output|node_modules|dist)/.*'
        pass_filenames: false

fix(app): Fix makefile route generation for ephemeral deployment.
  app/Makefile
Due: none

fix(app): Fix login redirects when using baseURL
  app/pages/login.vue
Due: prettier, tsc

feat(app): Allow disabling password login & whitelist email domains.
  .secrets.baseline
  app/.env.example
  app/Makefile
  app/deploy/README.md
  app/deploy/clowdapp.yaml
  app/nuxt.config.ts
  app/pages/login.vue
  app/server/api/stats.get.ts
  app/server/lib/auth.ts
  app/server/utils/auth.ts
Due: prettier, tsc

chore: Remove baseline secrets from gitignore
  .gitignore
Due: none

fix: Support NUXT_ prefixed env vars for runtime auth config
  .secrets.baseline
  app/deploy/clowdapp.yaml
  app/nuxt.config.ts
  app/server/lib/auth.ts
  app/server/utils/auth.ts
Due: prettier, tsc

fix(app): Ensure base url ends in `/`
  app/deploy/clowdapp.yaml
Due: prettier

refactor: Centralize URL/path handling with clearer naming and logging
  .secrets.baseline
  app/components/settings/TokenCreatedModal.vue
  app/composables/useAppUrls.ts
  app/deploy/clowdapp.yaml
  app/lib/auth-client.ts
  app/middleware/auth.global.ts
  app/nuxt.config.ts
  app/pages/index.vue
  app/pages/login.vue
  app/server/lib/auth.ts
  app/utils/urls.ts
Due: prettier, tsc

fix: Handle multiple trailing slashes in URL normalization
  .pre-commit-config.yaml
  app/utils/urls.ts
Due: prettier, tsc

test: Add vitest infrastructure and pre-push hook
  .pre-commit-config.yaml
  app/package-lock.json
  app/package.json
  app/vitest.config.ts
Due: prettier, tsc

test: Add comprehensive URL utility tests
  app/utils/urls.test.ts
Due: prettier, tsc

ci: Add test job to GitHub Actions workflow
  .github/workflows/build.yml
Due: none

feat: Add automated versioning and app version tagging
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

fix: Add unauthenticated health check endpoint for K8s probes
  app/deploy/clowdapp.yaml
  app/server/api/health.get.ts
  app/server/middleware/auth.ts
Due: prettier, tsc

feat: Add optional GitHub link button in footer
  .secrets.baseline
  app/app.vue
  app/deploy/clowdapp.yaml
  app/nuxt.config.ts
Due: prettier, tsc

fix(app): Fix deployment health + liveness paths
  app/deploy/clowdapp.yaml
Due: prettier

fix: Correct deployment URL patching and auth client configuration
  .secrets.baseline
  app/Makefile
  app/lib/auth-client.ts
  app/plugins/auth-config.client.ts
Due: prettier, tsc

fix: Read baseURL from server-rendered config instead of build-time config
  app/plugins/auth-config.client.ts
Due: prettier, tsc

fix: Prioritize app.baseURL over public.baseURL for runtime config
  app/plugins/auth-config.client.ts
Due: prettier, tsc

fix: Use route-relative paths to avoid base path duplication
  app/middleware/auth.global.ts
Due: prettier, tsc

feat: Add GITHUB_URL environment variable support to Makefile
  .secrets.baseline
  app/Makefile
Due: none
