Repository jsell-rh/kartograph: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, tsc

prettier:
  name: Prettier
  entry: bash -c 'cd app && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

tsc:
  name: TypeScript type check
  entry: bash -c 'cd app && npx tsc --noEmit'
  language: system
  pass_filenames: false

feat: Add admin feedback panel component
  app/components/admin/FeedbackPanel.vue
Due: prettier, tsc

fix: Add message IDs and fix feedback endpoint
  app/pages/index.vue
  app/server/api/feedback.post.ts
  app/server/api/query.post.ts
Due: prettier, tsc

fix: Convert Date objects to Unix timestamps for SQLite
  app/server/api/admin/stats.get.ts
Due: prettier, tsc

fix: Correct feedback API response structure and integrate panel
  app/pages/admin/index.vue
  app/server/api/admin/feedback.get.ts
Due: prettier, tsc

fix: Improve user query detection in feedback submission
  app/server/api/feedback.post.ts
Due: prettier, tsc

feat: Improve feedback UI with enhanced textarea, standard buttons, and markdown rendering
  app/components/MessageFeedback.vue
  app/components/admin/FeedbackPanel.vue
Due: prettier, tsc

fix: Remove invalid branch prefix from Docker SHA tag
  .github/workflows/build.yml
Due: none

feat: Add admin user management
  .github/workflows/build.yml
  app/.env.example
  app/.specify/specs/005-admin-user-management/spec.md
  app/components/MessageFeedback.vue
  app/components/ResponseDisplay.vue
  app/components/admin/FeedbackPanel.vue
  app/components/admin/StatsCards.vue
  app/components/admin/UserTable.vue
  app/middleware/admin.ts
  app/pages/admin/index.vue
  app/pages/index.vue
  app/server/api/admin/feedback.get.ts
  app/server/api/admin/stats.get.ts
  app/server/api/admin/users.get.ts
  app/server/api/admin/users/[id].delete.ts
  app/server/api/admin/users/[id].patch.ts
  app/server/api/feedback.post.ts
  app/server/api/query.post.ts
  app/server/db/migrations/0006_chunky_ego.sql
  app/server/db/migrations/meta/0006_snapshot.json
  app/server/db/migrations/meta/_journal.json
  app/server/db/schema.ts
  app/server/lib/auth.ts
  app/server/middleware/check-user-status.ts
  app/server/plugins/admin-bootstrap.ts
  app/server/utils/admin.ts
  app/stores/auth.ts
Due: prettier, tsc

docs: Add issue and branch creation workflow to AGENTS.md
  AGENTS.md
Due: none

fix: Add ADMIN_EMAILS environment variable to deployment configuration (#2)
  .secrets.baseline
  app/Makefile
  app/deploy/clowdapp.yaml
Due: prettier

fix: Add ADMIN_EMAILS environment variable to deployment configuration
  .secrets.baseline
  AGENTS.md
  app/Makefile
  app/deploy/clowdapp.yaml
Due: prettier

feat: Add last login display to user management table (#4)
  app/components/admin/UserTable.vue
  app/package-lock.json
  app/package.json
Due: prettier, tsc

feat: Add tabbed interface to admin dashboard with count badges (#4)
  app/components/admin/ApiTokensPanel.vue
  app/pages/admin/index.vue
  app/server/api/admin/tokens.get.ts
Due: prettier, tsc

feat: Add usage charts with time-series data visualization (#4)
  app/components/admin/UsageCharts.vue
  app/pages/admin/index.vue
  app/server/api/admin/usage-stats.get.ts
Due: prettier, tsc

style: Improve usage chart styling with increased height and better legends (#4)
  app/components/admin/UsageCharts.vue
Due: prettier, tsc

fix: Exclude auto-generated CHANGELOG.md from markdownlint checks
  .pre-commit-config.yaml
  app/CHANGELOG.md
Due: prettier

feat: Add API usage dashboard and admin enhancements (#6)
  .pre-commit-config.yaml
  app/CHANGELOG.md
  app/components/admin/ApiTokensPanel.vue
  app/components/admin/UsageCharts.vue
  app/components/admin/UserTable.vue
  app/package-lock.json
  app/package.json
  app/pages/admin/index.vue
  app/server/api/admin/tokens.get.ts
  app/server/api/admin/usage-stats.get.ts
Due: prettier, tsc

feat: Add MCP server configuration environment variables to deployment
  .pre-commit-config.yaml
  .secrets.baseline
  app/.env.example
  app/CHANGELOG.md
  app/Makefile
  app/deploy/clowdapp.yaml
  app/nuxt.config.ts
Due: prettier, tsc

feat: Add MCP server configuration environment variables to deployment (#7)
  .secrets.baseline
  app/.env.example
  app/CHANGELOG.md
  app/Makefile
  app/deploy/clowdapp.yaml
  app/nuxt.config.ts
Due: prettier, tsc

fix: Correct date formatting for future expiration dates in API tokens table
  app/components/admin/ApiTokensPanel.vue
  app/deploy/dgraph-standalone.yaml
Due: prettier, tsc

feat: Make API token stats cards clickable for filtering
  app/components/admin/ApiTokensPanel.vue
Due: prettier, tsc

fix: Admin view: Correct API token expiry display and add clickable filter cards (#9)
  app/components/admin/ApiTokensPanel.vue
  app/deploy/dgraph-standalone.yaml
Due: prettier, tsc

fix: remove dgraph-zero PVC from ClowdApp manifest
  .secrets.baseline
  app/deploy/clowdapp.yaml
Due: prettier

docs: add operational changelog specification
  app/.specify/README.md
  app/.specify/specs/001-operational-changelog/spec.md
Due: prettier

feat: add changelog database schema and API endpoints
  app/server/api/admin/changelog.get.ts
  app/server/api/admin/changelog.post.ts
  app/server/api/admin/changelog/[id].delete.ts
  app/server/api/admin/changelog/[id].patch.ts
  app/server/api/changelog.get.ts
  app/server/db/migrations/0007_dashing_loa.sql
  app/server/db/migrations/meta/0007_snapshot.json
  app/server/db/migrations/meta/_journal.json
  app/server/db/schema.ts
Due: prettier, tsc

feat: add admin UI for changelog management
  app/components/admin/ChangelogPanel.vue
  app/components/changelog/DeleteDialog.vue
  app/components/changelog/EntryModal.vue
  app/components/changelog/EntryTypeBadge.vue
  app/pages/admin/index.vue
Due: prettier, tsc

feat: Add public changelog page with timeline view
  app/components/changelog/EntryCard.vue
  app/pages/changelog.vue
Due: prettier, tsc

feat: Add mandatory name/type enforcement to extraction process
  extraction/ITERATIONS.md
  extraction/ITERATION_1_CHANGES.md
  extraction/PROCESS.md
Due: none

feat: Add operational changelog with smart tracking
  app/components/WhatsNewDialog.vue
  app/components/changelog/EntryCard.vue
  app/components/changelog/EntryModal.vue
  app/pages/index.vue
  app/server/api/changelog.get.ts
  app/server/api/user/changelog-seen.post.ts
  app/server/api/user/has-unseen-changelog.get.ts
  app/server/db/migrations/0008_foamy_onslaught.sql
  app/server/db/migrations/meta/0008_snapshot.json
  app/server/db/migrations/meta/_journal.json
  app/server/db/schema.ts
Due: prettier, tsc

feat: Add operational changelog system (#10)
  .secrets.baseline
  app/.specify/README.md
  app/.specify/specs/001-operational-changelog/spec.md
  app/components/WhatsNewDialog.vue
  app/components/admin/ChangelogPanel.vue
  app/components/changelog/DeleteDialog.vue
  app/components/changelog/EntryCard.vue
  app/components/changelog/EntryModal.vue
  app/components/changelog/EntryTypeBadge.vue
  app/deploy/clowdapp.yaml
  app/pages/admin/index.vue
  app/pages/changelog.vue
  app/pages/index.vue
  app/server/api/admin/changelog.get.ts
  app/server/api/admin/changelog.post.ts
  app/server/api/admin/changelog/[id].delete.ts
  app/server/api/admin/changelog/[id].patch.ts
  app/server/api/changelog.get.ts
  app/server/api/user/changelog-seen.post.ts
  app/server/api/user/has-unseen-changelog.get.ts
  app/server/db/migrations/0007_dashing_loa.sql
  app/server/db/migrations/0008_foamy_onslaught.sql
  app/server/db/migrations/meta/0007_snapshot.json
  app/server/db/migrations/meta/0008_snapshot.json
  app/server/db/migrations/meta/_journal.json
  app/server/db/schema.ts
Due: prettier, tsc

feat: Add Iteration 6 - Universal AI-Driven Relationship Inference
  extraction/BASELINE_ANALYSIS.md
  extraction/ITERATIONS.md
  extraction/ITERATION_2_CHANGES.md
  extraction/ITERATION_3_CHANGES.md
  extraction/ITERATION_4_CHANGES.md
  extraction/ITERATION_5_CHANGES.md
  extraction/ITERATION_6_CHANGES.md
  extraction/ITERATION_PLAN.md
  extraction/PROCESS.md
Due: none

fix: Dynamically query all graph relationships using schema introspection
  app/server/api/entity/[urn]/relationships.get.ts
  app/server/lib/dgraph-schema.ts
Due: prettier, tsc

fix: Dynamically query all graph relationships using schema introspection (#12)
  app/server/api/entity/[urn]/relationships.get.ts
  app/server/lib/dgraph-schema.ts
Due: prettier, tsc

Path conditions:
  prettier: any of: ^app/.*\.(ts|vue|js|json|yaml|yml|md)$, but not: ^app/(\.nuxt|\.output|node_modules|dist)/.*
  tsc: any of: ^app/.*\.(ts|vue)$, but not: ^app/(\.nuxt|\.output|node_modules|dist)/.*
