Repository jsell-rh/kartograph: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, tsc

prettier:
  name: Prettier
  entry: bash -c 'cd app && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: true

tsc:
  name: TypeScript type check
  entry: bash -c 'cd app && npx tsc --noEmit'
  language: system
  pass_filenames: false

fix: improve 413 error handling and prevent context overflow
  app/server/api/query.post.ts
  app/server/lib/dgraph-tools.ts
Due: prettier, tsc

fix: Correct PromptLoader import to DiskPromptLoader
  extraction/kg_extractor/deduplication/agent_deduplicator.py
  extraction/kg_extractor/orchestrator.py
Due: none

feat: Add --model CLI argument for LLM model selection
  extraction/extractor.py
Due: none

feat: Add model and config details to startup logs
  extraction/extractor.py
Due: none

fix: improve 413 error handling and prevent context overflow (#17)
  app/server/api/query.post.ts
  app/server/lib/dgraph-tools.ts
Due: prettier, tsc

feat: Add hybrid warning and enhance agent dedupe logging
  extraction/docs/legacy-scripts/load_dgraph.py
  extraction/kg_extractor/deduplication/agent_deduplicator.py
  extraction/kg_extractor/orchestrator.py
Due: none

feat: Implement incremental batched deduplication
  extraction/extractor.py
  extraction/kg_extractor/config.py
  extraction/kg_extractor/orchestrator.py
Due: none

fix: Save checkpoint after deduplication and enhance debug logging
  extraction/kg_extractor/deduplication/agent_deduplicator.py
  extraction/kg_extractor/orchestrator.py
Due: none

fix: Remove hardcoded URNDeduplicator in extractor.py
  extraction/extractor.py
Due: none

fix: Add helpful error for missing anthropic[vertex] dependency
  extraction/kg_extractor/deduplication/agent_deduplicator.py
Due: none

fix: Correct AnthropicVertex import path
  extraction/kg_extractor/deduplication/agent_deduplicator.py
Due: none

fix: Use config model for agent deduplication and change region to us-east1
  app/.env.example
  extraction/extractor.py
  extraction/kg_extractor/config.py
  extraction/kg_extractor/deduplication/agent_deduplicator.py
  extraction/kg_extractor/orchestrator.py
  extraction/pyproject.toml
Due: none

fix: Add helpful error message for Vertex AI model not found
  extraction/kg_extractor/config.py
  extraction/kg_extractor/deduplication/agent_deduplicator.py
Due: none

fix: Strip markdown code fences from LLM response
  extraction/kg_extractor/deduplication/agent_deduplicator.py
Due: none

feat: Use Anthropic tool use for structured deduplication output
  extraction/kg_extractor/deduplication/agent_deduplicator.py
  extraction/kg_extractor/prompts/templates/deduplication.yaml
Due: none

fix: Pass actual entity data to LLM for deduplication analysis
  extraction/kg_extractor/deduplication/agent_deduplicator.py
  extraction/kg_extractor/prompts/templates/deduplication.yaml
Due: none

fix: Prefer uid over string for mixed-type predicates in Dgraph loader
  extraction/docs/legacy-scripts/load_dgraph.py
Due: none

refactor: Remove unused variables in query API
  app/server/api/query.post.ts
Due: prettier, tsc

fix: Comprehensive Dgraph loading fixes for production data
  extraction/docs/legacy-scripts/load_dgraph.py
Due: none

feat: Add entity-aware extraction with known entity context
  extraction/kg_extractor/agents/extraction.py
  extraction/kg_extractor/orchestrator.py
  extraction/kg_extractor/prompts/templates/entity_extraction.yaml
Due: none

perf: Reduce deduplication batch size from 50 to 10
  extraction/kg_extractor/config.py
Due: none

config: Increase max_tokens from 8000 to 18000 in query API
  app/server/api/query.post.ts
Due: prettier, tsc

fix(test): Update unit tests to reflect config default changes.
  extraction/tests/unit/test_config.py
Due: none

feat(extraction): Parallel chunk processing with production-ready improvements (#19)
  .gitignore
  app/.env.example
  app/server/api/query.post.ts
  extraction/.specify/memory/specs/parallel-extraction/design.md
  extraction/TEST_STATUS.md
  extraction/docs/legacy-scripts/load_dgraph.py
  extraction/extractor.py
  extraction/kg_extractor/agents/extraction.py
  extraction/kg_extractor/checkpoint/models.py
  extraction/kg_extractor/config.py
  extraction/kg_extractor/deduplication/agent_deduplicator.py
  extraction/kg_extractor/deduplication/models.py
  extraction/kg_extractor/llm/agent_client.py
  extraction/kg_extractor/models.py
  extraction/kg_extractor/orchestrator.py
  extraction/kg_extractor/progress.py
  extraction/kg_extractor/prompts/templates/deduplication.yaml
  extraction/kg_extractor/prompts/templates/entity_extraction.yaml
  extraction/metrics
  extraction/pyproject.toml
  extraction/report
  extraction/tests/unit/conftest.py
  extraction/tests/unit/test_413_error_handling.py
  extraction/tests/unit/test_agent_client.py
  extraction/tests/unit/test_checkpoint_integration.py
  extraction/tests/unit/test_config.py
  extraction/tests/unit/test_mcp_tool_availability.py
  extraction/tests/unit/test_parallel_safety.py
Due: prettier, tsc

refactor: Extract utilities, EntityExtractor, and ContextTruncationStrategy
  .specify/query-api-refactoring-plan.md
  app/server/api/query.post.ts
  app/server/services/EntityExtractor.ts
  app/server/strategies/ContextTruncationStrategy.ts
  app/server/utils/errorUtils.ts
Due: prettier, tsc

refactor: Extract SSEStreamManager
  app/server/api/query.post.ts
  app/server/stream/SSEStreamManager.ts
Due: prettier, tsc

refactor: Extract SystemPromptBuilder service
  app/server/api/query.post.ts
  app/server/services/SystemPromptBuilder.ts
Due: prettier, tsc

refactor: Extract ConversationService
  app/server/api/query.post.ts
  app/server/services/ConversationService.ts
Due: prettier, tsc

refactor: Extract QueryAgent orchestrator (Step 7)
  app/server/api/query.post.ts
  app/server/api/query.post.ts.backup
  app/server/orchestrator/QueryAgent.ts
Due: prettier, tsc

chore: Remove backup file
  app/server/api/query.post.ts.backup
Due: none

fix(extraction): Add DROP_ALL parameter to Makefile
  .gitignore
  .secrets.baseline
  app/Makefile
  extraction/load_dgraph.py
Due: none

chore: Add rh-hooks-ai
  .gitignore
  .pre-commit-config.yaml
Due: none

test: Add comprehensive unit tests for refactored services
  app/server/services/EntityExtractor.test.ts
  app/server/strategies/ContextTruncationStrategy.test.ts
  app/server/stream/SSEStreamManager.test.ts
  app/server/utils/errorUtils.test.ts
  app/server/utils/errorUtils.ts
Due: prettier, tsc

fix: Prevent duplicate thinking viewer after final response
  app/pages/index.vue
Due: prettier, tsc

fix: Clear loading state immediately in done event handler
  app/pages/index.vue
Due: prettier, tsc

docs: Add specification for verbose tool call display feature
  app/.specify/verbose-tool-calls-feature.md
Due: prettier

fix: Exit stream reading loop after done event
  app/pages/index.vue
Due: prettier, tsc

refactor: Refactor query API into testable services with dependency injection (#20)
  .specify/query-api-refactoring-plan.md
  app/.specify/verbose-tool-calls-feature.md
  app/pages/index.vue
  app/server/api/query.post.ts
  app/server/orchestrator/QueryAgent.ts
  app/server/services/ConversationService.ts
  app/server/services/EntityExtractor.test.ts
  app/server/services/EntityExtractor.ts
  app/server/services/SystemPromptBuilder.ts
  app/server/strategies/ContextTruncationStrategy.test.ts
  app/server/strategies/ContextTruncationStrategy.ts
  app/server/stream/SSEStreamManager.test.ts
  app/server/stream/SSEStreamManager.ts
  app/server/utils/errorUtils.test.ts
  app/server/utils/errorUtils.ts
Due: prettier, tsc

feat: add shiki package for syntax highlighting (#21)
  app/package-lock.json
  app/package.json
Due: prettier

feat: emit input and result in tool events (#21)
  app/server/orchestrator/QueryAgent.ts
Due: prettier, tsc

Path conditions:
  prettier: any of: ^app/.*\.(ts|vue|js|json|yaml|yml|md)$, but not: ^app/(\.nuxt|\.output|node_modules|dist)/.*
  tsc: any of: ^app/.*\.(ts|vue)$, but not: ^app/(\.nuxt|\.output|node_modules|dist)/.*
